/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(248, 248, 248);
    font-family: 'Open Sans', sans-serif;
}

/* Header */
header {
    width: 100%;
    background-color: #00bcd4;
    color: white;
    text-align: center;
    padding: 20px;
}

#cabecalho h1,
#cabecalho h2 {
    text-align: center;
    letter-spacing: 2px;
}

#cabecalho h1 {
    font-size: 4rem;
    text-transform: uppercase;
    margin-bottom: 150px;
    text-shadow: 1px 1px 100px rgb(65, 66, 67);
}

.titulo-calculadora {
    font-size: 2rem;
}

#cabecalho h3 {
    color: #00bcd4;
}

/* Conteúdo */
#conteudo-imc {
    width: 80%;
    text-align: center;
    margin: 0 auto;
}

#caixa-de-textos {
    font-size: 2rem;
    line-height: 1.5;
    margin-bottom: 20px;
    text-align: center;
}

#conteudo-imc input {
    font-size: 1rem;
    padding: 10px;
    border-radius: 15px;
    border: 3px solid #00bcd4;
    margin: 10px;
    width: 200px;
}

#conteudo-imc input:focus {
    border-color: orange;
    outline: orange;
    background-color: #ffff99;
}


/* Botão */
#botao-calc {
    font-size: 1rem;
    max-width: 40%;
    width: 30%;
    padding: 15px;
    border: none;
    border-radius: 10px;
    background-color: #00bcd4;
    color: white;
    font-weight: 600;
    margin: 0 auto;
    text-align: center;
    box-shadow: 2px 2px 10px rgb(129, 131, 132);
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

#botao-calc:hover {
    background-color: #01788a;
    color: #cac6c6;
}

/* Resposta IMC */
#resp {
    border-radius: 3px;
    border: 2px solid black;
    background-color: #b8b8b8;
    font-size: 1.2rem;
    padding: 5px 10px;
    margin-top: 20px;
}

/* Títulos e parágrafos */
#conteudo-imc h2 {
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #333;
    margin-bottom: 20px;
    text-shadow: 1px 1px 40px rgb(78, 80, 80);
}

#conteudo-imc p {
    font-size: 1.125rem;
    line-height: 1.5;
    color: #555;
    margin-bottom: 20px;
    text-shadow: 1px 1px 10px gray;
}

/* Tabela */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 30px;
    background-color: #81f0ff;
    border-radius: 10px;
    box-shadow: 1px 1px 20px black;
}

th, td {
    border: 3px solid black;
    padding: 10px;
    text-align: center;
}

#l1 {
    background-color: #08e2ff;
}

/* Footer */
footer {
    width: 100%;
    background-color: #abacac;
    font-size: 1rem;
    text-align: center;
    padding: 15px 0;
}

/* Responsividade */
@media (max-width: 600px) {
    #cabecalho h1 { font-size: 3rem; margin-bottom: 50px; }
    #caixa-de-textos { font-size: 1.5rem; }
    #conteudo-imc input { width: 80%; }
    #botao-calc { width: 80%; }
    #conteudo-imc { width: 90%; }
}

@media (max-width: 412px) {
    #cabecalho h1 { font-size: 2.5rem; margin-bottom: 50px; }
    #caixa-de-textos { font-size: 1rem; }
    #conteudo-imc input { font-size: 0.8rem; width: 80%; }
    #botao-calc { width: 100%; }
    #conteudo-imc { width: 97%; }
}

@media (max-width: 280px) {
    #cabecalho h1 { font-size: 1.5rem; margin-bottom: 50px; }
    #caixa-de-textos { font-size: 0.8rem; }
    #conteudo-imc input { width: 40%; }
    #botao-calc { width: 40%; }
    #conteudo-imc { width: 50%; }
}
